<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>Testing Page</title>
</head>
<body>
    <h1>Uploaded File visualized</h1>
    {% load staticfiles %}
	<script src="{% static 'static/js/ngl.embedded.min.js' %}"></script>

	<script>

		if( !Detector.webgl ) Detector.addGetWebGLMessage();

		NGL.mainScriptFilePath = "{% static 'static/js/ngl.embedded.min.js' %}";
        var types = Object.keys(NGL.representationTypes);
        var reprDict = {};

		var fileName = "{{ uploadFile }}";


		function onInit(){
			var stage = new NGL.Stage( "viewport" );
			stage.setTheme("light");
			stage.viewer.setBackground(0x111111);
            stage.loadFile( "{% static 'media/document' %}/"+fileName).then( initStructure );
		}

		function initStructure( o ){
		    types.forEach(function(name){
		        if(!name) return;
		        if(name === "cartoon"){
		            reprDict[ name ] = o.addRepresentation(
		                name,{visible:true}
                    );
                }
		        else{
		            reprDict[ name ] = o.addRepresentation(
		                name, {visible:false}
                    );
                }
		        var btn = document.getElementById("btn_"+ name);
		        var repr = reprDict[ name ];
		        btn.addEventListener("click",function(){
		            repr.setVisibility(!repr.visible);
		            btn.style.backgroundColor = repr.visible ? "#7CAFC2" : "";
                });
            });
            document.getElementById("btn_cartoon").style.backgroundColor = "#7CAFC2";
            o.centerView();
        }


		document.addEventListener( "DOMContentLoaded", function() {
			var buttons = document.getElementById("buttons");
			types.forEach(function(name){
			    if (!name) return;
			    var button=document.createElement("button");
			    button.id="btn_"+name;
			    button.textContent=name;
			    buttons.appendChild(button);
            });
		    NGL.init( onInit );
		} );

	</script>
    <div id="viewport" style="width:800px; height:500px;"></div>
    <div id="buttons" style = "width:400px;">
        <button id="btn_cartoon">cartoon</button>
        <button id="btn_ball+stick">ball+stick</button>
        <button id="btn_spacefill">spacefill</button>
    </div>
</body>
